<h2>Users</h2>
<table class="table-hover">
  <tr>
    <th>Sr.no.</th>
    <th>Name</th>
    <th>Email</th>
    <th>Contact</th>
    <th>Address</th>
    <th>Zipcode</th>
  </tr>
  <tbody class="users_detail">
    <%= render :partial => "user_list" %>
  </tbody>
</table>

