
<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
        <li data-target="#main-slider" data-slide-to="1"></li>
        <li data-target="#main-slider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item" style="background-image: url(/assets/slider/bg1.jpg)">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-6">
              <div class="carousel-content">
                <h1 class="animation animated-item-1">Congratulation we are provide diwali offer</h1>
                <h2 class="animation animated-item-2">You will get 20% discount on promo code (Get20) ...</h2>
              </div>
            </div>

            <div class="col-sm-6 hidden-xs animation animated-item-4">
              <div class="slider-img">
                <img src="/assets/slider/img1.png" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div><!--/.item-->

      <div class="item" style="background-image: url(/assets/slider/bg2.jpg)">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-6">
              <div class="carousel-content">
                <h1 class="animation animated-item-1">Hello guys this is a getting time </h1>
                <h2 class="animation animated-item-2">Find your choice...</h2>
              </div>
            </div>

            <div class="col-sm-6 hidden-xs animation animated-item-4">
              <div class="slider-img">
                <img src="/assets/slider/img2.png" class="img-responsive">
              </div>
            </div>

          </div>
        </div>
      </div><!--/.item-->

      <div class="item active" style="background-image: url(/assets/slider/bg3.jpg)">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-6">
              <div class="carousel-content">
                <h1 class="animation animated-item-1">Congratulation You are on Shop mania</h1>
                <h2 class="animation animated-item-2">Because we are provide best quality and low price products...</h2>
              </div>
            </div>
            <div class="col-sm-6 hidden-xs animation animated-item-4">
              <div class="slider-img">
                <img src="/assets/slider/img3.png" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div><!--/.item-->
    </div><!--/.carousel-inner-->
  </div><!--/.carousel-->
  <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
      <i class="fa fa-chevron-left" style = "margin-top: 12px;"></i>
  </a>
  <a class="next hidden-xs" href="#main-slider" data-slide="next">
      <i class="fa fa-chevron-right" style = "margin-top: 12px;"></i>
  </a>
</section><!--/#main-slider-->