<footer id="footer" class="midnight-blue" style = "padding-top: 10px; padding-bottom: 10px;margin-top: -22px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        &copy; 2016 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Shop mania</a>. All Rights Reserved.
      </div>
        <div class="col-sm-6">
          <ul class="pull-right">
            <li><%= link_to "Home", root_path, :class=> "go-home" %></li>
            <li><%= link_to "Products", root_path, :class=> "go-products" %></li>
            <li><%= link_to "About Us", root_path ,:class=> "go-about" %></li>
            <li><%= link_to "Contact Us", root_path ,:class=> "go-contact" %></li>
          </ul>
        </div>
    </div>
  </div>
</footer><!--/#footer-->