// Place all the styles related to the buyers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
   
    width:700px;
    height:auto;
  }

.spa{
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
  }

.attr{
    border: 1px solid black;
    padding: 5px;
  }
